@import "./normalize.less";

html {
  body {

    * {
      box-sizing: border-box;
    }

    /* ant-input-search搜索框 */
    .ant-input-search {
      max-width: 250px;
    }

    /* ant-pagination分页 */
    .ant-pagination {
      margin-top: @vab-margin;
      text-align: center;

      &.ant-table-pagination {
        float: none !important;
        margin-top: @vab-margin;
      }

    }


  }
}

// 基础样式

// 布局
.flex{
  display: flex;
}
.jc-between{
  justify-content: space-between;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.ai-center{
  align-items: center;
}
// 边距
.mt-m{
  margin-top: 12px;
}
.ml-m{
  margin-left: 12px;
}
.ml-l{
  margin-left: 20px;
}
.p-m{
  padding: 12px;
}

//字体
.text-bold{
  font-weight: bold;
}
.text-500{
  font-weight: 500;
}
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.fs-16{
  font-size: 16px;
}
.fs-18{
  font-size: 18px;
}
.fs-20{
  font-size: 20px;
}
.fs-22{
  font-size: 22px;
}
.fs-24{
  font-size: 24px;
}

.text-center{
  text-align: center;
}
.text-white{
  color: #fff;
}
.text-right{
  text-align: right;
}


.bg-white{
  background-color: #fff;
}

.border-left {
  border-left-width: 1px;
  border-left-color: #f5f5f5f5;
  border-right-style: solid;
}
.border-right {
  border-right-width: 1px;
  border-right-color: #f5f5f5f5;
  border-right-style: solid;
}